body {
    background-color: #70CF51;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: unset;
    margin:0px; padding:0px;
    overflow-y: hidden; 
    overflow-x: hidden;
}

fish, firebolt, background, player {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    z-index: 2;
}

player {
    background-image: url(../assets/dragon-flying-1.gif);
    width:150px; height: 135px;
    /* filter: hue-rotate(90deg); */
}

firebolt {
    background-image: url(../assets/firebolt.gif);
    width: 73px; 
    height: 25px;
    /* filter: hue-rotate(90deg); */
}

background {
	background-image: url(../images/actionsky.gif);
    width:100%; height: 100%;
    background-size: cover;
    transform: scaleX(-1);
    z-index: 1;
    /* background: linear-gradient(#000, #000) no-repeat center/2px 100%; */
}

border {
    border-left: 1px solid red;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    z-index: 2;
}

.timer {
    position: relative;
    z-index: 2;
    background-color: black;
    margin: auto;
    width: 5%;
    border: 1px solid white;
    padding: 10px;
    color: red;
    text-align: center;
}