body {
    background-color: #70CF51;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: unset;
    margin:0px; padding:0px;
    overflow-y: hidden; 
    overflow-x: hidden;
}

player-ui, abilities-bar, wincounter, firebolt, superbolt, background, player, heart{
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
    z-index: 2;
    width: 450px;
}

win-message {
    z-index: 4;
    position: absolute;
    left: 40%;
    margin: auto;
    width: 400px;
    bottom: 60%;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    display: none;
}

.visible {
    display: block!important;
}

player {
    background-image: url(../assets/dragon-flying-1.gif);
    width:150px; height: 135px;
    /* deadanimatioN? */
    /* filter: hue-rotate(90deg); */
}

player-ui {
    background: rgba(0,0,0,0.2);
    position: relative!important;
}

abilities-bar {
    /* width: 300px; */
    height: 100px;
    background: rgba(0,0,0,0.2);
    bottom: 0;
    position: fixed;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    
}

firebolt-slot {
    background-image: url(../assets/firebolt.gif);
    background-repeat: no-repeat;
    background-position: center;    
}

superbolt-slot {
    background-image: url(../assets/superbolt.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
}

.circle {
    justify-content: center;
    border: 2px solid white;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    margin: 5px 20px;
    font-size: 15px;
    padding: 15px;
    display: flex;
    height: 50px;
    width: 50px;
    color: #fff;
}

.circle span {
    margin-top: 45px;
}

.control-text {
    line-height: 120px;
}

.cooldown {
    position: absolute;
    top: -30px;
    color: red;
    font-size: 20px;
}

healthbar {
    height: 50px;
    float: inherit;
    margin-left: 20px;
    /* text-align: end!important; */
}
wincounter {
    display: inline;
    position: relative;
    font-size: 45px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
}

heart {
    background-image: url(../assets/heart.png);
    height: 75px;
    width: 75px;
    position: relative;
    display: inline-block!important;
}



.left {
    float: left;
    text-align: end;
}

.right {
    float: right;
}

firebolt {
    background-image: url(../assets/firebolt.gif);
    width: 73px; 
    height: 25px;
    /* filter: hue-rotate(90deg); */
}

superbolt {
    background-image: url(../assets/superbolt.gif);
    width: 173px; 
    height: 125px;
    /* filter: hue-rotate(90deg); */
}

background {
	background-image: url(../images/actionsky.gif);
    width:100%; height: 100%;
    background-size: cover;
    transform: scaleX(-1);
    z-index: 1;
    /* background: linear-gradient(#000, #000) no-repeat center/2px 100%; */
}

border {
    border-left: 1px solid red;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
    z-index: 2;
}

.timer {
    position: relative;
    z-index: 2;
    background: rgba(0,0,0,0.2);
    margin: auto;
    width: 10%;
    height: 20px;
    /* border: 1px solid white; */
    padding: 10px;
    color: white;
    text-align: center;
}

